.payment-modal {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index:  9999;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.modal-header {
  text-align: center;
}

.modal-header img {
  width: 50px;
  margin-bottom: 20px;
}

.modal-header h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.modal-header p {
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
}

.total-label {
  font-weight: bold;
  font-size: 18px;
}

.total-amount {
  font-size: 28px;
  color: #000;
}

.order-summary-container {
  margin-top: 20px;
}

.summary-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}
.form-inf{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}
.top-info, .bottom-info{
  display: flex;
  justify-content: space-between;
}
.ref-inf, .date-inf{
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
}
.ref-inf span:nth-of-type(2), .date-inf span:nth-of-type(2){
  border-bottom: 1px solid #eee;
  width: 150px;
}
.product{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
gap: 20px;
}
.payment-summary {
  border-top: 1px solid #eee;
  padding-top: 20px;
}

.discount-code label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

.discount-code input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.subtotal, .discount-amount, .shipping-cost, .total-cost {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.label {
  color: #555;
}

.value {
  font-weight: bold;
  color: #000;
}

.action-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.continue-shopping, .download-receipt {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.continue-shopping {
background-color: white;
  color: #201f1f;
}

.download-receipt {
  color: var(--Additional-Colors-White, #FFF);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 157.143% */
  border-radius: 20px;
background: var(--Primary-Orange, #E16F3D);
display: flex;
padding: 12px 40px;
justify-content: center;
align-items: center;
flex: 1 0 0;
align-self: stretch;
}
