* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
.container {
  max-width: 1300px;
  margin:0 auto;
  width: 90%;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0px 24px 0px;
  position: relative;
  z-index: 10000;
}
.nav-left {
  color: var(--Grayscale-900, #171717);

  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.nav-left ul {
  display: flex;
  gap: 48px;
}
.nav-left ul li a {
  color: black;
}
.nav-left ul li a:hover {
  color: var(--Primary-Orange, #e16f3d);
}
.nav-left ul li a.active {
  color: var(--Primary-Orange, #e16f3d);
}
.nav-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--Grayscale-900, #171717);
  font-family: "Playfair Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}
.nav-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.search {
  display: flex;
  width: 205px;
  padding: 12px 0px 12px 16px;
  align-items: center;
  gap: 8px;
  border-radius: 24px;
  border: 1px solid var(--Grayscale-200, #e5e5e5);
}
.search input {
  border: none;
  outline: none;
  width: 70%;
}
.search img {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.shop {
  display: flex;
  padding: 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 48px;
  border: 1px solid var(--Grayscale-200, #e5e5e5);
}
.login-button {
  background-color: white;
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 1px solid var(--Primary-Orange, #e16f3d);
  color: var(--Primary-Orange, #e16f3d);
  font-size: 14px;
  font-family: "Inter", sans-serif;

  font-weight: 500;
  line-height: 22px;
}

.overlay {
  position: fixed;
  top: 0;

  left: 0;
  width: 100%;

  background: rgba(0, 0, 0, 0.5);
}

.burger-menu {
  display: none;
}
.navbar {
  z-index: 10;
}

.burger-menu-items {
  display: none;
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 32px 24px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

@media screen and (max-width: 560px) {
  .nav-left ul {
    display: none;
  }

  .search input {
    display: none;
  }

  .search {
    display: flex;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 48px;
    width: max-content;
    border: 1px solid var(--Grayscale-200, #e5e5e5);
  }

  .login-button {
    display: none;
  }

  .burger-menu {
    display: block;
    width: 24px;
    height: 24px;
    margin: 0px 24px 0px 8px;
    cursor: pointer;
    flex-shrink: 0;
    border: none;
    background-color: transparent;
    color: var(--Grayscale-900, #171717);
  }

  .burger-menu-items {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 32px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    background: var(--Neutral-White, #fff);
  }

  .burger-menu-items ul li a,span {
    color: black;
    display: flex;
    gap: 12px;
    flex-direction: column;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 140% */
  }
  .nav-left ul li a,
  .burger-menu-items ul li a {
    transition: color 0.3s ease;
  }
  .overlay{
    display: none;
  }
  .burger-menu-items ul li a.active {
    color: var(--Primary-Orange, #e16f3d);
  }
}

@media screen and (max-width: 960px) {
  .nav-left ul li a {
    font-size: 14px;
  }
  .nav-logo img {
    width: 36px;
    height: 36px;
  }
  .search {
    display: flex;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 48px;
    width: max-content;
    border: 1px solid var(--Grayscale-200, #e5e5e5);
  }
  .search input {
    display: none;
  }
  .login-button {
    display: none;
  }
  .nav-left ul {
    gap: 30px;
  }
}
.search-modal {
  position: sticky;
  top: 200px; 
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-top: 1px solid rgb(178, 175, 175);
}

.search-modal-content {
  max-width: 1170px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-modal-content input {
  display: flex;
  padding: 16px 0px 16px 16px;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  border-radius: 24px;
border: 1px solid var(--Grayscale-200, #E5E5E5);
outline: none;
}

.search-results {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.search-result {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.search-result img {
  max-width: 50px;
  margin-right: 10px;
}

.search-result-details {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color : var(--Grayscale-900, #0b0b0b);
}

.search-result-details .left {
  flex-grow: 1;
}

.search-result-details .right {
  white-space: nowrap;
}

.search-result:hover {
  background-color: #f0f0f0;
}

.recent-searches {
  padding: 10px;
}

.recent-searches h4 {
  margin: 0 0 10px 0;
}

.recent-searches ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
gap: 20px;
}

.recent-searches li {
  padding: 5px 0;
  cursor: pointer;
  border-radius: 24px;
border: 1px solid var(--Grayscale-200, #E5E5E5);
display: flex;
padding: 8px 24px;
justify-content: center;
align-items: center;
gap: 8px;
}

.recent-searches .remove-search {
  margin-left: 10px;
  color: red;
  cursor: pointer;
}
.no-results{
  display: flex;
  align-items: center;
  justify-content:center;
}