.container {
  max-width: 1300px;
  margin: 0 auto;
  width: 90%;
}

.empty-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px 0;
}

.empty-cart img {
  padding: 32px;
  border-radius: 50%;
  border: 1px solid var(--Grayscale-200, #e5e5e5);
}

.empty-cart span {
  color: var(--Grayscale-900, #171717);
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
}

.empty-cart p {
  color: var(--Grayscale-600, #525252);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.empty-cart button {
  display: flex;
  height: 46px;
  padding: 12px 40px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: var(--Primary-Orange, #e16f3d);
  border: none;
  outline: none;
}

.empty-cart button a {
  color: white;
  text-decoration: none;
}
.cartContent {
  width: 100%;
  align-items: flex-start;
  display: flex;
  
  justify-content: center;
  gap: 30px;
}
.cart-item {
  border-bottom: 1px solid var(--Grayscale-200, #e5e5e5);
  padding: 20px 0;
  display: flex;
  gap: 10px;
}
.cart-items {
  display: flex;
  flex-direction: column;
  padding: 30px 0;

  width: 70%;
}
.orderSum {
  width: 30%;
  display: flex;
  border-radius: 16px;
  border: 1px solid var(--Grayscale-200, #e5e5e5);
  padding: 24px;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.orderSum p {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.orderSum button {
  height: 46px;
  padding: 12px 40px;
  border-radius: 20px;
  background: var(--Primary-Orange, #e16f3d);
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.orderSum button a {
  color: white;
  text-decoration: none; 
}
.cart-item-details {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

.cart-item-details .left {
  display: flex;
  align-items: center;
  gap: 16px;
 
}
.cart-item-details .left img {
  width: 128px;
  height: 128px;

  border-radius: 8px;
  background: url(<path-to-image>) lightgray -86.667px 0px / 181.897% 121.029% no-repeat;
}

.cart-item-details .left .content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cart-item-details .center {
  display: flex;
  align-items: center;
  gap: 20px;
}
.cart-Title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.cart-Title h3:nth-of-type(1){
    min-width: 210px;
}
.cart-item-quantity {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-item-quantity button {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 18px;
}

.remove-button {
  border: none;
  outline: none;
  background-color: transparent;
}

.quantity-display {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 5px;
  font-size: 16px;
  border-radius: 50%;
  border: 1px solid var(--Grayscale-200, #e5e5e5);
}
@media screen and (max-width: 560px) {
  .cartContent {
    flex-direction: column;
  }
  .orderSum {
    width: 100%;
  }
  .cart-items {
    width: 100%;
 
  }
  .cart-Title{
    display: none;
  }
  .all{
    display: block;

  }
  thead{
    display: none;
  }
  tbody tr{
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-bottom: 1px solid var(--Grayscale-200, #e5e5e5);
  }
  .cart-item-details {
    flex-direction: column;
  }
  .cart-item-details .left{
    flex-direction: column;
  }
  .cart-item-details .left img {
    width: 100px;
    height: 100px;
  }
  .checkOut{
    flex-direction: column;

  }
  .form{
    width: 100%;
  }
  .payMethod{
    flex-direction: column;

  }
  .orderSummary{
    width: 350px !important;
  }
}


input[type="radio"] {
  display: none;
}

.custom-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 5px;
}

.custom-checkbox input[type="radio"] {
  display: none;
}
.all{
  display: none;
}
.custom-checkbox .checkbox-box {
  width: 20px;
  height: 20px;
  border: 2px solid #e16f3d;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: #fff;
  transition: 0.3s;
}

.custom-checkbox input[type="radio"]:checked + .checkbox-box {
  background: #e16f3d;
  border-color: #e16f3d;
}

.custom-checkbox .checkbox-box::after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  position: absolute;
  top: 3px;
  left: 6px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  transition: opacity 0.3s;
  opacity: 0;
}

.custom-checkbox input[type="radio"]:checked + .checkbox-box::after {
  opacity: 1;
}
.check{
  display: flex;
  align-items: center;
  gap: 10px;
 
  border-bottom: 1px solid var(--Grayscale-200, #e5e5e5);
}


.form  form  select,  .form  form input[type="text"], .form  form input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
  
}


select {
  background-color: #fff;
}

.city-info ,.info {
  display: flex;
  gap: 10px;
}
.form{
  width: 70%;
}
.payMethod{
  display: flex;
  gap: 10px;
}
.dhl,.fedex{
  display: flex;
padding: 16px;
justify-content: space-between;
align-items: center;
flex: 1 0 0;
border-radius: 8px;
border: 1px solid var(--Grayscale-200, #E5E5E5);
}
.fedex .right,.left{
 display: flex;
 align-items: center;
 justify-content:center;
  gap: 5px;

}
.products{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.dhl .right{
  display: flex;
  gap: 5px;
}
.text{
  display: flex;
  flex-direction: column;
  gap: 5px
}
.text span:nth-of-type(1){
  color: var(--Grayscale-900, #171717);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px; /* 144.444% */
}
.checkOut{
 display: flex;
 align-items: flex-start;
 justify-content:center;
  width: 100%;
  gap: 20px;
}
.paymentForm,.form{
  width: 70%;
}
.orderSummary{
  width: 30%;
  display: flex;

padding: 24px;
flex-direction: column;

gap: 48px;
border-radius: 16px;
border: 1px solid var(--Grayscale-200, #E5E5E5);
}
.orderSummary .product{
  display: flex;
  gap: 10px;
}
.orderSummary .product .right{
display: flex;
flex-direction: column;
}
.infoProduct{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.img-container img{
  width: 100px;
  height: 100px;
  border-radius: 8px;
  background: url(<path-to-image>) lightgray -86.667px 0px / 181.897% 121.029% no-repeat;
}

.discount{
  display: flex;
  
  flex-direction: column;
  gap: 10px;
}
.grayText{
  color: var(--Grayscale-600, #525252);
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 144.444% */
}
.bold{
  color: var(--Grayscale-900, #171717);
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 26px; /* 144.444% */
}
.Subtotal,.disc,.shipMeth,.total{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pay button{
  width: 100%;
  height: 46px;
  padding: 12px 40px;
  border-radius: 20px;
  background: var(--Primary-Orange, #e16f3d);
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.discount input{display: flex;
  width: 327px;
  padding: 16px;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--Grayscale-200, #E5E5E5);
  outline: none;

}
.discount label{
  color: var(--Grayscale-400, #A3A3A3);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 22px; /* 157.143% */
}
.payText{
  display: flex;
  flex-direction: column;
  gap: 20px
}
.orderSummary .title{
  color: var(--Grayscale-900, #171717);

font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 28px; /* 140% */
}
.orderSummary .right{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.priceCheck{
display: flex;
align-items: center;

  gap: 5px;
}
.selectPayment{
  display: flex;
 
  gap: 10px;
}
.payPal,.apple{
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 16px;
  justify-content: space-between;
  flex: 1 0 0;
  border-radius: 8px;
  border: 1px solid var(--Grayscale-200, #E5E5E5);
}
.payPal .left,.apple .left{
display: flex;
align-items: center;
justify-content:center;
  gap: 5px;
}
.paymentForm input{
  width: 100%;
  padding: 16px;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--Grayscale-200, #E5E5E5);
  outline: none;
}
.cardInfo{
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.paymentDiv{
  display: flex;
  
  gap: 10px;
}
.order-tracking {
  width: 80%;
  margin: 0 auto;
}

.order-tracking h2 {
  text-align: left;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  border-bottom: 1px solid #e5e5e5;
  color: #A3A3A3;
}

th, td {
  padding: 15px;
  text-align: left;
}

.product-info {
  display: flex;
  align-items: center;
}

.product-info img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 15px;
  border-radius: 5px;
}

.track-order-button {
  padding: 8px 16px;
  border: 1px solid #f28c53;
  background-color: #fff;
  color: #f28c53;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.track-order-button:hover {
  background-color: #f28c53;
  color: #fff;
}
