* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Inter", sans-serif;
}
.filter-panel {
    position: relative;
    top: -65px;
    right: 0; 

    width: 30%;
 
    background: white;
  
    transition: right 0.3s ease;
    padding: 20px;
    z-index: 1000;
  }
  
  .filter-panel-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 20px;
  }
  .filter-panel-header h2{
    color: var(--Grayscale-900, #171717);
    margin: 0 20px;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 140% */
  }
  .filter-panel-close {
    position: absolute;
    top: 25px;
    left: 10px;
    background: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
   
  }
  
  .filter-option {
    margin-bottom: 15px;
  }
  .reset-title{
display: flex;
align-items: center;
justify-content:space-between;
cursor: pointer;
  }
  .reset-title h2{
    color: var(--Grayscale-900, #171717);
    cursor: pointer;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 140% */
  }
  .filter-reset{
    border: none;
    outline: none;
    background-color: white;
    color: var(--Primary-Orange, #E16F3D);
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 18px; /* 150% */
cursor: pointer;
text-decoration-line: underline;
  }
  .filter-accordion .accordion-item {
    border-bottom: 1px solid #ddd;
  }
  
  .accordion-header {
    background: #ffffff;
    border: none;
    padding: 10px;
    text-align: left;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .accordion-content {
    cursor: pointer;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
    
  .accordion-content label  {
    cursor: pointer;
    font-size: 14px;
  }
  .accordion-content span {
    cursor: pointer;
    font-size: 14px;
  }
  
  
.color-grid {
display: flex;
align-items: center;
justify-content:center;
  flex-direction: row;
  flex-wrap: wrap;
  
}

.color {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin: 4px;
  display: inline-block;
  cursor: pointer;
}

.color span {
  display: block;
  text-align: center;
  margin-top: 4px;
}
.color.selected {
  border: 2px solid #a8a6a6;
}

.color:hover {
  opacity: 0.8;
}
@media screen and (max-width: 560px) {
    
  .filter-panel{
    position: absolute;
    top: 10%;
    right: 0;
    width: 100%;
  }
}

.color-name {
  margin-top: 5px; 
  font-size: 10px; 
  color: black; 
  text-align: center; 
}
.price-range {
 display: flex;
 align-items: center;
 justify-content: space-between;
}

